<div class="app-container">
    <h1>Welcome to the Income Calculator</h1>
    <p>This Income Calculator App will help you calculate your Net Income. </p>
    <p>Please navigate to the Income Calculator. The summary page updates every time you click "Calculate Net Income."</p>
    <nav>
        <a routerLink="/income">Go to Income Calculator</a> |
        <a routerLink="/summary">Go to Summary</a>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <router-outlet></router-outlet>
</div>